numpy
torch==2.5.1+cu121 --find-links https://download.pytorch.org/whl/torch_stable.html
absl_py
accelerate
gin_config
imageio
imageio[ffmpeg]
matplotlib
mediapy
opencv_contrib_python
opencv_python
Pillow
trimesh
pymeshlab
xatlas
plyfile
rawpy
ninja
scipy
scikit-image
scikit-learn
tensorboard
tensorboardX
tqdm
